.input-group-btn {
    position: relative;
    margin-right: 0%; 
}
  
.bg-container {
    right: 0;
    padding-right: 10px;
    position: absolute;
    height:40%;
    width:40%;
}
  
.bg-container .container { 
    box-shadow: 2px 2px 4px #000000;
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
}
  
.text-input { 
    display: flex;
    width: 40%;
    position: relative;
    margin-left: 0%;
    margin-right: 60%;
}

.text-container {
    position: relative;
    padding-top: 10px;
}

.msgContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.other-user-msg {
    width: 100%;
    margin-top: 2px;
    margin-left: 3px;
    float: left;
    position: relative;
}

.other-user-msg .msg-holder {
    border-radius: 20px;
    padding-right: 10px;
}

.other-user-msg .msg-block {
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: black;
    align-content: center;
    margin-bottom: 5px;
    background-color: rgba(235, 225, 225, 0.589);
    border-radius: 15px;
    float: left;
    word-break: break-word;
}

/* .other-user-msg .msg-block-user-name {
    padding-top: 3px;
    padding-right: 5px;
    margin-right: 3px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: black;
    align-content: center;
    justify-content: center;
    margin-bottom: 5px;
    background-color: rgba(235, 225, 225, 0.589);
    border-radius: 15px;
    float: left;
    word-break: break-word;
} */


.user-msg .msg-holder {
    border-radius: 20px;
    padding-left: 10px;
}

.user-msg .msg-block {
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: white;
    align-content: center;
    /* justify-content: center; */
    margin-bottom: 5px;
    background-color: #0099FF;
    border-radius: 15px;
    float: right;
    word-break: break-word;
}
/* 
.user-msg .msg-block-user-name {
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: white;
    align-content: center;
    justify-content: center; 
    margin-bottom: 5px;
    background-color: #0099FF;
    border-radius: 15px;
    float: right;
    word-break: break-word;
}
*/

.user-msg {
    width: 100%;
    margin-top: 2px;
    margin-right: 3px;
    float: right;
    position: relative;
}

.text-input .msg {
    box-shadow: 2px 2px 4px #000000;
    width: 80%;
    margin-right: 3%;
}

.submit-btn {
    box-shadow: 2px 2px 4px #000000;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
}