.hp-chat-container{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: height 0.5s;
    bottom: 0;
}

.hp-chat-container-after{
    height: 64%;
}

/*
 47%
 top 295 500px
*/

.hp-chat-content{
    position: relative;
    width: 90%;
    height: 86%;
    margin: auto;
    top: 10%;
}

.hp-chat-box{
    position: relative;
    width: 100%;
    height: 88%;
    /* border: 1px solid white; */
    overflow: auto;
}

.hp-chat-box::-webkit-scrollbar{
    display: none;
}

.hp-chat-box ul {
    font-size: 1.5vw;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    list-style: none;
}

.hp-chat-box ul li {
    cursor: default;
    /* margin-top: -1%; */
    max-width: fit-content;
}

.hp-chat-chat{
    position: absolute;
    display: flex;
    bottom: 0;
    margin-bottom: 0%;
    /* padding: 10%; */
    width: 100%;
    /* border: 1px solid white; */
}

.hp-chat-chat > i {
    position: relative;
    /* margin: .7%; */
    color: white;
    height: 100%;
}

.hp-chat-input{
    margin-left: 2%;
    width: 100%;
    height: 100%;
    margin-bottom: .5%;
    margin-top: .5%;
}

.hp-chat-input input{
    outline: none;
    border: none;
    border-radius: 24px 0px 0px 24px;
    padding: 1%;
    width: 87%;
    padding-left: 2%;
}
.hp-chat-submit{
    outline: none;
    border: none;
    border-radius: 0px 24px 24px 0px;
    padding: 1%;
    width: 10%;
    background: white;
}

.hp-mini-profile{
    background: white;
    width: 8%;
    height: 14%;
    color: black;
    position: absolute;
    font-size: 80%;
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    font-size: 12px;
}

.hp-mini-profile .hp-menu-item{
    text-align: center;
    /* text-align: center;
    align-items: center; */
    padding-top: 5%;
    outline: none;
}

/* .hp-mini-profile .hp-menu-item p{
    background: none;
    margin-top: 5%;
    z-index: -10;
} */

.hp-mini-profile .hp-menu-item:first-child{
    border-bottom: .5px solid #333333;
}

.hp-mini-profile .hp-menu-item:nth-child(2){
    border-bottom: .5px solid #333333;
}

.hp-mini-profile .hp-menu-item:nth-child(2):hover{
    background: cyan;
}

.hp-mini-profile .hp-menu-item:first-child:hover{
    background: cyan;
    border-radius: 10px 10px 0px 0px;
}

.hp-mini-profile .hp-menu-item:nth-child(3):hover{
    background: cyan;
    border-radius:  0px 0px 10px 10px;
}

.hp-menu-btn{
    position: relative;
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1100;
}