.hp-friend-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.hp-friend-content{
    position: relative;
    width: 90%;
    height: 86%;
    margin: auto;
    top: 12%;
}

.hp-friend-box{
    position: relative;
    width: 100%;
    height: 94%;
    /* border: 1px solid white; */
    overflow-x: hidden;
    overflow-y: auto;
}

.hp-friend-box::-webkit-scrollbar{
    display: none;
}

.hp-friend-box ul {
    font-size: 1.5vw;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    list-style: none;
}

.hp-friend-box ul li {
    margin-top: 2%;
}
.hp-friend-box ul li:first-child {
    margin-top: -5%;
}


.hp-fr-mini-profile{
    background: white;
    width: 8%;
    height: 4%;
    color: black;
    position: absolute;
    font-size: 80%;
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    font-size: 15px;
}

.hp-fr-menu-btn{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    position: relative;
}

.hp-fr-mini-profile .hp-fr-menu-item:hover{
    background: cyan;
    border-radius: 10px ;
}