.hp-rank-online{
    position: absolute;
    /* left:85%; */
    right: 3%;
    width: 15%;
    height: 100%;
}

.hp-ro-rank-container{
    position: relative;
    margin-top: 10%;
    /* padding-top: 10%; */
    /* border: 2px solid black; */
    width: 100%;
    height: 35%;
    background: white;
    border-radius: 7px;
}

.hp-ro-online-container{
    position: relative;
    margin-top: 10%;
    /* border: 2px solid black; */
    width: 100%;
    height: 57%;
    background: white;
    border-radius: 7px;
}

.hp-ro-rank{
    position: relative;
    /* border: 1px solid black; */
    width: 90%;
    height: 92%;
    padding-top: 10%;
    margin-left: 5%;

}

.hp-ro-rank-list{
    /* padding-top: 10%; */
    list-style: none;
    border: 1px solid black;
    border-radius: 7px;
    height: 100%;
}

.hp-ro-rank-list li{
    margin-top: 12%;
    margin-left: -8%;
}
/* .hp-ro-rank-list li:first-child{
    margin-top: 10%;
    margin-left: -3%;
} */

.hp-ro-rank-item{
    display: flex;
    font-size: small;
    height: 10%;
}

.hp-ro-rank-item i{
    width: 20%;
}

.hp-ro-rank-name{
    margin-top: 2%;
    font-size: large;
}

.hp-ro-friendlist{
    position: relative;
    margin-top: 10%;
    border: 2px solid black;
    width: 100%;
    height: 62.5%;
    background: white;
    border-radius: 7px;
}

.hp-ro-friend-container{
    position: relative;
    /* margin: 7% auto; */
    padding-top: 10%;
    margin-top: 9%;
    margin-left: 5%;
    /* border: 1px solid black; */
    width: 90%;
    height: 98%;
    border-radius: 7px;
}

.hp-ro-friendBox{
    height: 91%;
    border: 1px solid black;
    border-radius: 5px;
}

.hp-ro-listItem{
    margin-top: 0.8%;
    position: relative;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    overflow: auto;
    height: 99%;
    scrollbar-color: black;
    list-style-type: none;
    /* list-style: inside url("../userIcon.png"); */
}

.hp-ro-listItem  li{
    margin-top: 7%;
    margin-left: -10%;
    padding: .1em 0;
}
.hp-ro-listItem  li:first-child{
    margin-top: 7%;
}

.hp-ro-listItem  li:hover{
    cursor: pointer;
}

.hp-ro-searchBox{
    margin-top: 2%;
    width: 100%;
    height: 6%;
    display: flex;
    /* border: 1px solid black;
    border-radius: 5px; */
}

.hp-ro-icon{
    border: 1px solid black;
    border-radius: 5px;
    width: 12%;
}

.hp-ro-icon i{
    margin-left: 25%;
    margin-top: 20%;
}

.hp-ro-search-search{
    border: 1px solid black;
    border-radius: 5px;
    margin-left: .5%;
    width: 100%;
}

.hp-ro-search{
    width: 100%;
    height: 98%;
    outline: none;
    background: none;
    border: none;
    padding: 2%;
}

.hp-ro-friend{
    display: flex;
    height: 50%;
}

.hp-ro-friend i{
    width: 10%;
    margin: .5%;
}

.hp-ro-friend p{
    margin-top: -1%
}


