.fp-ab-about{
    /* background: #0c0c0cf5; */
    background: #312E2B;
    width: 100%;
    height: 215px;
}

.fp-ab-about-us{
    padding-top: 1%;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}

