/* about */
.tp-about{
    top: -35%;
    width: 60%;
    margin: auto;
    height: 28%;
    position: relative;
    transition: all 1s;
}

.tp-about-bg{
    background: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
}

.tp-about-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

.tp-about-content{
    width: 25%;
    height: 65%;
    top: 15%;
    margin: 0 auto;
    position: relative;
}

.tp-about-content h3{
    font-size: 1.7vmax;
    /* text-align: center; */
    justify-content: center;
    color: white;
    
}

.tp-about-content ul li{
    color: gray;
    font-size: 1.2vmax;
    margin-top: 5%;
    font-family: 'Source Sans Pro', cursive;
}

.tp-about-about{
    width: 100%;
    height: 20%;
    position: absolute;
    text-align: center;
    font-size: xx-large;
    color: white;
    font-size: 2.3vw;
}

#tp-about-after{
    top: 100%;
    transition: top 1.5s;
}

