*{
    margin :0;
    padding-right : 0;
}
body{
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    margin-right: 0;
    /* filter: blur(2px); */
}


.login-container ~ .fp-container{
    filter: blur(10px);
    visibility: visible;
}

#loginBtn > li{
    right: 0;
    padding-left: 100%;
}
a {
    font-size: 20px;
}
#loginBtn:hover{
    cursor: pointer;
}

.nav-ab{
    position: relative;
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
    border-radius: 0;
    background: #312E2B;
}