.fp-uf-login-form{
    width: 30%;
    height: 45%;
    position: absolute;
    margin: 10% 35% 0% 35%;
    overflow: hidden;
    top: -100%;
    transition: all 1s;
}

/*login reg*/
#fp-uf-loginform{
    left: 0;
    transition: left .5s;
}
#fp-uf-loginform-after{
    left: -100%;
    transition: left .5s;
}
#fp-uf-regform-after{
    left: 0;
    transition: left .5s;
}

#fp-uf-regform-after .fp-uf-login-form-confirm-btn{
    margin-top: 5%;
}

#fp-uf-regform .fp-uf-login-form-confirm-btn{
    margin-top: 5%;
}

#fp-uf-regform{
    left: 100%;
    transition: left .5s;
}
/*login form*/
.fp-uf-login-form-bg{
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
}

#fp-uf-login-form-after{
    top: 0%;
    transition: top 1.5s;
    z-index: 99;
}

.fp-uf-login-form-header{
    position: absolute;
    width: 80%;
    margin: 5% 10% 0% 10%;
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}

.fp-uf-login-form-header h1{
    color: white;
    text-align: center;
    font-size: 3.5vmax;
    font-family: 'lobster', cursive;
}

.fp-uf-login-form-input-box{
    width: 80%;
    height: 70%;
    position: absolute;
    margin-top: 25%;
    margin-left: 10%;   
}

.fp-uf-login-form-input{
    position: relative;
    width: 80%;
    height: 15%;
    border: none;
    outline: none;
    margin: 10% 10% 0% 10%;
}

#fp-uf-input-password{
    margin-top: 3%;
}
.fp-uf-login-form-input-field{
    width: 100%;
    height: 50%;
    position: absolute;
    border: none;
    outline: none;
    border-radius: 30px;
    padding-left: 3%;
    margin-bottom: 0%;
}

.fp-uf-login-form-input-field:focus::placeholder{
    color: transparent;
    transition: .4s;
}

.fp-uf-login-form-input p {
    margin: 0; 
    padding-left: 3%;
    color: white;
}

.fp-uf-login-form-ask{
    position: relative;
    color: white;
    margin-top: 7%;
    text-align: center;
}

.fp-uf-login-form-ask a{
    cursor: pointer;
}

.fp-uf-login-form-confirm-btn{
    position: relative;
    width: 35%;
    height: 12%;
    border: none;
    outline: none;
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    color: white;
    margin: 15% 33% 0% 33%;
    border-radius: 30px;
    z-index: 1;
    font-family: 'Source Sans Pro', cursive;
    font-size: 24px;
    display: inline-block;
}

.fp-uf-login-form-confirm-btn::before{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #FC466B, #3F5EFB);
    transition: opacity .45s ease-out;
    z-index: 2;
    opacity: 0;
    border-radius: inherit;
    position: absolute;
    content:"";
    display: block;
}

.fp-uf-login-form-confirm-btn:hover::before{
    opacity: 1;   
}

.fp-uf-login-form-confirm-btn:active{
    box-shadow: -2px -4px 4px rgb(149, 84, 235);
}

.fp-uf-login-form-confirm-btn span{
    z-index: 3;
    position: relative;
}

