.nav .hp-roomSection{
    width: 20%;
}

.cp-game-container {
    width: 100%;
    height: 100%;
}

.cp-game-container-chat {
    margin-right: 10px;
    float: right;
    width: 10%;
    height: 10%;
}