/* .chatbox {
    margin:auto;
    border: 3px solid black;
    text-align: left;
    background-color: gray;
    position: fixed;
    left: 30%;
    right: 30%;
    bottom: 0%;
    width: 500px;
    
}
#chat_bar{

    position: absolute;
    text-align: left;
    bottom:5px;
    left:5px;
    width: 390px;
}
#chat_button {
    position: absolute;
    text-align: center;
    bottom: 5px;
    right: 5px;
    width: 90px;
}
#chat_screen{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 10px;
    width: 485px;
    height: 250px;
} */