
@media screen and (max-aspect-ratio: 4/3) and (max-width: 600px), screen and (max-width: 600px) {
    .homePageComponents {
        position: absolute;
        display: flex;
        flex-direction: row;
        z-index: 0;
    }
    .homePageMainComponents {
        position: relative;
        width: 96.8268%;
        height: 79.39665%;
        top: 19.601675%;
        left: 1.5866%;
        bottom: 1.5866%;
        right: 1.5866%;
        /*padding-left: 1.5866%;
        padding-right: 1.5866%;*/
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .homePageAuxComponentsFull {
        display: none;
    }
    .homePageAuxComponentsSmall {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 96.8268%;
        height: 80.19665%;
        top: 18.801675%;
        left: 1.5866%;
        bottom: 1.5866%;
        right: 1.5866%;
        background-color: white;
        z-index: 10;
    }
    .homePageAuxComponentsSmall.off {
        display: none;
    }
    #homePageAuxComponentsSmallButton {
        width: 50%;
        height: 100%;
    }
    .homePageSmallComponentsButtons {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 96.8268%;
        top: 15.8%;
        left: 1.5866%;
        height: 3%;
    }
    .userProfilePaneSmall {
        position: absolute;
        width: 96.8268%;
        height: 40.098325%;
        top: 18.801675%;
        right: 1.5866%;
        z-index: 10;
    }
    .userProfilePaneSmall.off {
        display: none;
    }
    #userProfilePaneSmallButton {
        width: 50%;
        height: 100%;
    }
    .friendListBorderBox {
        width: 100%;
        height: 100%;
        padding-bottom: 1.5866%;
    }


    /*#homePageAuxComponentsSmallMenu {
        width: 100%;
        height: 100%;
        padding-right: 11.60335%;

        display: flex;
        flex-direction: column;
    }*/
}
@media screen and (max-aspect-ratio: 4/3) and (min-width: 600px), screen and (min-width: 600px) and (max-width: 800px){
    .homePageComponents {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 0;
    }
    .homePageMainComponents {
        position: relative;
        width: 88.39665%;
        height: 76.39665%;
        top: 21.181675%;
        left: 5.801675%;
        bottom: 2.801675%;
        right: 5.801675%;
        /*left: 5.801675%;
        right: 5.801675%;
        bottom: 5.801675%;*/
        z-index: 2;
        /*padding-left: 5.801675%;
        padding-right: 5.801675%;*/
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .homePageAuxComponentsFull {
        display: none;
        z-index: 0;
    }

    .homePageAuxComponentsSmall {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 55%;
        top: 20.0%;
        left: 5.801675%;
        background-color: white;
        z-index: 10;
    }
    .homePageAuxComponentsSmall.off {
        display: none;
    }
    #homePageAuxComponentsSmallButton {
        width: 50%;
        height: 100%;
    }
    .homePageSmallComponentsButtons {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 88.39665%;
        top: 16.15%;
        left: 5.801675%;
        height: 4%;
    }
    .userProfilePaneSmall {
        position: absolute;
        width: 35%;
        height: 27.5%;
        top: 20.0%;
        right: 5.801675%;
        z-index: 10;
    }
    .userProfilePaneSmall.off {
        display: none;
    }
    #userProfilePaneSmallButton {
        width: 50%;
        height: 100%;
    }
    .friendListBorderBox {
        width: 100%;
        height: 100;
        padding-bottom: 3.1732%;
    }


    /*.homePageAuxComponentsSmallMenu {
        position: absolute;
        z-index: 100;
        top: 80%;
        left: 12%;
        right: 12%;
        height: 12%;
    }*/
    /* #homePageAuxComponentsSmallMenu {
        width: 100%;
        height: 100%;
        padding-right: 11.60335%;
        background-color: #0a0a0a;
        display: flex;
        flex-direction: column;
    }*/

}
@media screen and (min-aspect-ratio: 4/3) and (min-width: 800px) {
    .homePageComponents {
        padding-left: 11.60335%;
        padding-right: 11.60335%;
        padding-bottom: 3%;
        padding-top: 3%;
        display: flex;
        flex-direction: row;
    }
    .homePageMainComponents {
        width: 76%;
        height: 100%;
        /*padding-left: 11.60335%;*/
        padding-right: 0.7933%;
        display: flex;
        flex-direction: column;
    }
    .homePageAuxComponentsFull {
        width: 35%;
        height: 100%;
        /*padding-right: 11.60335%;*/

        display: flex;
        flex-direction: column;
    }
    .homePageAuxComponentsSmall {
        display: none;
    }
    .homePageSmallComponentsButtons {
        display: none;
    }
    .userProfilePaneSmall {
        display: none;
    }
    .friendListBorderBox {
        width: 100%;
        height: 60%;
        padding-top: 3.1732%;
        padding-bottom: 3.1732%;
    }


}
.homePage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-height: fit-content;
    min-height: fit-content;
}

.homePageNav {
    width: 100%;
    height: 15%;
    background-color: brown;
    border-color: brown;
    position: relative;
}

.homePageComponents {
    height: 100%;
    width: 100%;
}



.playModeBorderBox {
    padding-bottom: 1.5866%;
    height: 40%;
    width: 100%;
}


