.missingChess{
    width: 70%;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 3em; 
    padding-left: 2%;
}
.missingChess > .glow{
    margin: auto;
}

/* .missingChess .glow{
    /* width: 70%;
    display: flex;
    justify-content: center;
    color: white;
    /* width: 100%;
    height: 100%;
    font-size: 3em;
} */

.chessPage{
    width: 100%;
    height: 100%;
    background: linear-gradient(240deg, #3F5EFB, #FC466B); 
    position: absolute;
    overflow: hidden;
}
.chessContent{
   width: 98%;
   height: 98%;
   margin: 1% auto;
   position: relative;
   background-color: transparent;
}

.chessPageLeft {
    float: left;
    display: flex;
    width: 68%;
    height: 100%;
}

.chessPageRight {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    flex-wrap: wrap;
    min-width: fit-content;
    min-height: fit-content;
}

.chessPageRightComponents-top{
    height: 35%;
    width: 100%;
    position: relative;
}


.chessPageRightComponents-dn {
    width: 100%;
    height: 53%;
    position: relative;
    margin-top: 1%;
}

.chessPageRightComponents-mid {
    width: 100%;
    height: 9%;
    margin-top: 1%;  
    position: relative;
}

.chessPageRightComponents-mid .middle{
    position: relative;
    display: flex;
    height: 100%;
}


.shadow-bg{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

   
.sur-btn{
    display: block;
    border:none;
    width: 30%;
    color: black;
    background:transparent;
    transition: background-color 0.5s ease-out;
    border-radius: 10px;
    font-size: 1.3em;
    height: inherit;
    outline: none;
    
}

.sur-btn .cp-sur-text{
    margin: auto;
}

.sur-btn:hover{
    background-color: rgb(156, 6, 68);
    color: white;
}


.chessPage ::-webkit-scrollbar {
    width: 16px;
  }

.chessPage ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 16px;
}

.chessPage ::-webkit-scrollbar-thumb {
background: #060c21; 
border-radius: 10px;

}

/* Handle on hover */
.chessPage ::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 95, 109); 
}

body { 
    margin: 0;
    background: linear-gradient(240deg, #3F5EFB, #FC466B); 
}