.playZone {
    position: relative;
    background: #060c21;
    background-clip: content-box;
    width: 70vw;
    height: 96.8vh;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
}

#opponentName {
    position: absolute;
    left: 0;
    padding-left: 2.5%;
    color: #bbbbbb;
}

#playerName {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 2.5%;
    color: #bbbbbb;
}


.chessTable {
    margin: auto auto;
}
